.App {
    text-align: center;
}
h1 {
    font-size: 50px;
    margin-top: 20px;
}
button {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
    margin: 20px;
    cursor: pointer;
}

.App-link {
    color: rgb(112, 76, 182);
}
